@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgbrgb(243, 244, 246);
  color: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#login-page-container{
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}